# Then /var/www/public will be web shared
APP_PATH_CONTAINER=/var/www

# Dir name where stored db
DB_PATH_HOST=./dbs
DB_DATABASE=my_app
# MYSQL_USER is always root
MYSQL_PWD=secret

# Your nova project git repo
MY_APP_GIT=git@gitlab.com:user/my-app.git

# If your repo is privat, privide path to your ssh privat_key
GIT_SSH_KEY=~/.ssh/id_rsa

# Nova credentials
NOVA_USER=xxx
NOVA_PASSWORD=yyy

AFTER_INIT_SCRIPT='./artisan migrate:fresh --force --seed'
